Flask
Flask-SocketIO
simple-websocket
pandas
requests
ccxt>=4.0.0 # Garante versão recente com ccxt.pro
solders
base58
APScheduler
numpy
apexomni
ecdsa
mpmath==1.0.0
sympy==1.6
web3==6.0.0
nest_asyncio
